{% extends "base_template.html" %}
{% block content %}

<div class="panel panel-info">

      <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
      </div>

        <div class="panel-body">
        <form role="form" method="post" action="">
              {% csrf_token %}

              <div class="form-group">
                <h1 class="label label-info" style="padding: 6px;" for="isim">{{form.old_password.label}}</h1>
                <input style="margin-top: 10px" type="password" name="{{form.old_password.name}}" class="form-control" id="{{form.old_password.id}}" placeholder="Enter Old Password">
              </div>

              {% if form.old_password.errors %}
                <div class="alert alert-danger" style="padding: 2px;margin-top: 3px">{{ form.old_password.errors }}</div>
              {% endif %}

              <div class="form-group">
                <h1 class="label label-info" style="padding: 6px;" for="isim">{{form.new_password1.label}}</h1>
                <input style="margin-top: 10px" type="password" name="{{form.new_password1.name}}" class="form-control" id="{{form.old_password.id}}" placeholder="Enter New Password">
              </div>

              {% if form.new_password1.errors %}
                <div class="alert alert-danger" style="padding: 2px;margin-top: 3px">{{ form.new_password1.errors }}</div>
              {% endif %}

              <div class="form-group">
                <h1 class="label label-info" style="padding: 6px;" for="isim">{{form.new_password2.label}}</h1>
                <input style="margin-top: 10px" type="password" name="{{form.new_password2.name}}" class="form-control" id="{{form.old_password.id}}" placeholder="Enter New Password">
              </div>

              {% if form.new_password2.errors %}
                <div class="alert alert-danger" style="padding: 2px;margin-top: 3px">{{ form.new_password2.errors }}</div>
              {% endif %}

              <button type="submit" name="login" class="btn btn-default">Change Password</button>
        </form>
      </div>
</div>


{% endblock %}