{% extends "base_template.html" %}
{% block content %}
<div class="panel panel-info">

      <div class="panel-heading">
        <h3 class="panel-title">Reset Password</h3>
      </div>

    <div class="panel-body">
      {% if validlink %}



        <form role="form" method="post" action="">
              {% csrf_token %}

              <div class="form-group">
                <h1 class="label label-info" style="padding: 6px;" for="isim">{{form.new_password1.label}} :</h1>
                <input style="margin-top: 10px" type="password"  name="{{form.new_password1.name}}" class="form-control" id="{{form.new_password1.id}}" placeholder="Enter New Password">
              </div>

              {% if form.new_password1.errors %}
                <div class="alert alert-danger" style="padding: 2px;margin-top: 3px">{{ form.new_password1.errors }}</div>
              {% endif %}

              <div class="form-group">
                <h1 class="label label-info" style="padding: 6px;" for="isim">{{form.new_password2.label}} :</h1>
                <input style="margin-top: 10px" type="password"  name="{{form.new_password2.name}}" class="form-control" id="{{form.new_password2.id}}" placeholder="Enter New Password Confirm">
              </div>

              {% if form.new_password2.errors %}
                <div class="alert alert-danger" style="padding: 2px;margin-top: 3px">{{ form.new_password2.errors }}</div>
              {% endif %}

              <button type="submit" name="login" class="btn btn-default">Send Mail</button>
        </form>

      {% else %}
        <div class="alert alert-danger">
        Could not complete the password change.<br/>
        Change password link is invalid, or previously used.<br/>
        Please re-request a password change.
        </div>

      {% endif %}
    </div>
</div>

{% endblock %}