{% extends "base_template.html" %}
{% block content %}

    <div class="container">
    <div class="panel panel-info" >

          <div class="panel-heading">
            <h3 class="panel-title">Sign Up</h3>
          </div>

          <div class="panel-body">

                {% if info %}
                    <div class="alert alert-success" style="padding: 4px">
                        {{info}}
                    </div>
                {% endif %}

                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in editprofil_form %}
                    <div class="form-group">
                        <h1 class="label label-info" style="padding: 6px;" for="isim">{{ field.label }} </h1>
                        <h1 class="label label-danger" style="margin-left: 10px">{{ field.help_text }}</h1>
                        <div class="input-group" style="margin-top: 10px">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
                            {{ field }}
                        </div>


                        {% if field.errors %}
                        <div class="alert alert-danger" style="padding: 2px;margin-top: 3px">{{ field.errors }}</div>
                        {% endif %}

                    </div>
                {% endfor %}

                    <button type="submit" class="btn btn-default">Edit Profile</button>
                    <a href="/accounts/password/">Change Password</a>
                </form>

          </div>
    </div>
</div>

{% endblock %}