{% extends "base_template.html" %}
{% block content %}
    {% if danger %}

        <div class="alert alert-danger">
        {{ danger }}
        </div>

    {% elif add_success %}
        <div class="alert alert-success">
            {{ add_success }}
            <meta http-equiv="REFRESH" content="2;url=/">
        </div>
    {% elif time_out %}
         <div class="alert alert-danger">
            {{ time_out }}
            <meta http-equiv="REFRESH" content="2;url=/">
        </div>
    {% else %}
        <script type="text/javascript" src="/static/js/custom_jquery.js"></script>
        <div id="name_slug">{{ exam.name_slug }}</div>
        <div class="panel panel-success">
            <div class="panel-heading">{{ exam.name }}</div>
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">{{ question.question }} <div style="float: right">Time : <span id="exam_time">{{ exam.time }}</span> minutes | <span id="timer"></span></div></div>
                    <div class="panel-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {% for answer in answers %}
                                <div class="radio">
                                    <label >
                                        <input type="radio" name="answer" value="{{ answer.id }}" {% if answer == question_user_answer.0.answer %} checked {% endif %}/>
                                        <div class="radio_answer">{{ answer.answer }}</div>
                                    </label>
                                </div>
                            {% endfor %}

                            {% if i != 0 %}
                            <button name="back" class="btn btn-info">Back</button>
                            {% endif %}

                            <button name="reply" type="submit" class="btn btn-danger">
                                {% if exam_question_count|add:-1 != i %}
                                Reply
                                {% else %}
                                Reply and Finished
                                {% endif %}
                            </button>
                        </form>

                        {% if warning %}
                            <div class="alert alert-warning" style="padding: 6px">
                                {{ warning }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

