{% extends "base_template.html" %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">Exams</div>
    {% if have_exams|length > 0 %}
        <table class="table">
            <tr>
                <th>Exam</th>
                <th>Time</th>
            </tr>
            {% for exam in have_exams %}
                <tr>
                    <td><a href="/exam/{{ exam.name_slug }}">{{ exam.name }}</a></td>
                    <td>{{ exam.time }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <div class="alert alert-danger" style="margin: 10px">
        You don't have to can solve exam.
    </div>

    {% endif %}
</div>
{% endblock %}