<!-- Header -->
<nav class="navbar navbar-default" role="navigation">

    <div class="container">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Exam System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav">
            <li><a href="#">My Exam</a></li>
            <li><a href="#">Menu</a></li>
      </ul>
      {% endif %}


      <ul class="nav navbar-nav navbar-right">
        <li class="label label-primary" style="margin-top: 16px;padding: 4px;margin-right: 6px">{{ user.username }}</li>
          {% if request.user.is_authenticated %}
            <li><a href="/login/?logout=true">Logout</a></li>
          {% else %}
            <li><a href="/login/">Login</a></li>
          {% endif %}


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>